body{
	font-family: Audiowide;
	background: #262626;
}
.nav{
	display: -webkit-flex;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav a{
	position: relative;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 10px;
	transition: .5s;
	margin: 10px;
}
a:before,a:after{
	content: '';
	position: absolute;
	width: 5px;
	height: 0;
	background: #fff;
	transition: .5s;
	opacity: 0;
}
.nav a:before{
	top: 0;
	left: 0;
}

.nav a:after{
	bottom: 0;
	right: 0;
}

a:hover:before,a:hover:after{
	opacity: 1;
	height:100%;
	transition: .5s;
}
